
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: normal;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
body {
  display: center;
  overflow-x:hidden;
  font-family: 'Godo', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: #ffc690;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000129;
  padding: 50px 35px;

}

.navbar-logo {
  font-size: 40px;
  color: rgb(255, 255, 255);
  
}

.navbar-side{
  font-size: 30px;
  color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.contents{
  text-align: center; 
  display: block;
  margin: 0px auto;
  background-image: url(./png/backIMG.JPG);
  padding: 50px 35px;
}

.img1{
  text-align: center; 
  display: block; 
  margin: 0px auto;
}

.endbar {
  
}

.text1{

}



