
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: normal;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
body {
  display: center;
  font-family: 'Godo', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: #000129;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000129;
  padding: 50px 35px;

}

.navbar-logo {
  font-size: 40px;
  color: rgb(255, 255, 255);
  
}

.navbar-side{
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.contents{
  text-align: center; 
  display: block;
  margin: 0px auto;
  background-image: url(./png/backIMG.JPG);
  padding: 50px 35px;
}

.img1{
  text-align: center; 
  display: block; 
  margin: 50px auto;
}

.img2{
  display: none; 
  text-align: center; 
  margin: 50px auto;
}

.btn-white {
  font-size: 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  margin-top: 50px;
  border: 3.5px solid rgb(255, 255, 255);
  border-radius: 30px;
  transition: 1s ease all
}
.btn-white:hover {
  color: #ffffff;
  background: rgb(0, 0, 0);
  text-decoration: none
}

.btn-Question {
  font-size: 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  margin-top: 50px;
  border: 3.5px solid rgb(255, 255, 255);
  border-radius: 30px;
  transition: 1s ease all
}
.btn-white:Question {
  color: #ffffff;
  background: rgb(0, 0, 0);
  text-decoration: none
}

.endbar{
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
}
.text1{
  color:rgb(255, 255, 255);
}
.text2{
  color:rgb(255, 255, 255);
}

.Question{
  font-size: 25px;
  color:rgb(255, 255, 255);
}

@media all and (max-width: 1023px)
{
  .navbar-logo{
    font-size : 25px
  }
  .navbar-side{
    font-size : 25px
  }
  .navbar{
    padding: 30px 20px;
  }
  .img1{
    width: 80%;
  }
  
}


@media all and (max-width: 767px)
{
  .img1{
    display: none;
  }
  .img2{
    display: block;
  }
}

@media all and (max-width: 639px)
{
  .endbar{
    font-size: 10px;
    padding: 20px 20px;
  }

  .btn-white {
    font-size: 15px;
    border: 3.5px solid rgb(255, 255, 255);
  }

}
