
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: normal;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
body {
  font-family: 'Godo', sans-serif;
  font-size: 16px;
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  padding: 50px 20px;

}

.navbar-logo a{
  font-family: 'Godo', sans-serif;
  font-size: 16px;
}

a{
  text-decoration: none;
  color: black;
}


